<ion-content>
  <ion-button  expand="block" color="tertiary" (click)="mostrar = true" *ngIf="!mostrar">Agregar</ion-button>
  <ion-button  expand="block" color="danger" (click)="mostrar = false" *ngIf="mostrar">Ocultar</ion-button>
  <app-creador-embebed *ngIf="mostrar" ></app-creador-embebed>
  <hr>
  <ion-row>

    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'month' ? 'primary' : 'secondary'" (click)="changeMode('month')">Mes</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'week' ? 'primary' : 'secondary'" (click)="changeMode('week')">Semana</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'day' ? 'primary' : 'secondary'" (click)="changeMode('day')">Dia</ion-button>
    </ion-col>

    <ion-col size="6" text-left>
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>


    <ion-col size="6" text-right>
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ng-template  #template let-view="view" let-row="row" let-col="col" >
    {{view.dates[row*7+col].label}}
    
    <div class="task-list-container">
      
        <div *ngFor="let task of view.dates[row*7+col].events"class="task-item">
          <h2 class="task-title">
            {{task.title}}
          </h2>
          <p class="task-time">
            14:00 - 16:00
          </p>
        </div>
        
      
     
    </div>
    
</ng-template>


  <calendar
  [monthviewDisplayEventTemplate]="template"
  [eventSource]="eventSource"
  [calendarMode]="calendar.mode"
  [currentDate]="calendar.currentDate"
  (onEventSelected)="onEventSelected($event)"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)"
  startHour="6"
  endHour="23"
  step="30"
  startingDayMonth="1"
  startingDayWeek="1">
  </calendar>
</ion-content>
