<div class='principal-container'>
  
<div class="header">

  <div class="upper-bar" >

    <div class="title-container" >
      <h3 class="month">{{viewTitle}} {{viewTitleNumber}}</h3>
    </div>

    <div class="navigation-container" >
      <div class="nav-arrows center">
        <ion-buttons>
          <ion-button fill="clear" (click)="back()">
            <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="next()">
            <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
      <div class="view-buttons center">
          <ion-buttons class="center" style="width:25%;">
            <ion-button fill="clear" [ngClass]="calendar.mode == 'month' ? 'selected' : 'unselected'" (click)="changeMode('month')">
              M
            </ion-button>
            <ion-button fill="clear" [ngClass]="calendar.mode == 'day' ? 'selected' : 'unselected'"(click)="changeMode('day')">
              D
            </ion-button>
            <ion-button fill="clear" [ngClass]="calendar.mode == 'week' ? 'selected' : 'unselected'"(click)="changeMode('week')">
              S
            </ion-button>
          </ion-buttons>
      </div>
  
    </div>

    <div class="event-buttons-container " >
      <button  class="button add"  (click)="presentModal('create', users)" >Agregar evento</button>
    </div>
  
  </div>

</div>




<!--INVOKE CALENDAR-->
<div class="calendar-container" >
  <calendar
  [monthviewDisplayEventTemplate]="monthtemplate"
  [eventSource]="eventSource"
  [calendarMode]="calendar.mode"
  [currentDate]="calendar.currentDate"
  [formatDayTitle]="EEEEE"
  (onEventSelected)="onEventSelected($event)"
  [showEventDetail]="false"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)"
  startHour="6"
  endHour="23"
  step="30"
  startingDayMonth="1"
  startingDayWeek="1">
  </calendar>
</div>

<!--CALENDAR MONTH VIEW TEMPLATE-->
  <ng-template #monthtemplate let-view="view" let-row="row" let-col="col" >

    <div class="day-container">
      <p class="day-number">{{view.dates[row*7+col].label}}</p>
    
      <div class="task-list-container">
        
          <div class="task-item" 
            [ngClass]="[task.type == 'Atención' ? 'border-green' : '',
                      task.type == 'Audencia' ? 'border-red' : '',
                      task.type == 'Trámite' ? 'border-orange' : '',
                      task.type == 'Consulta' ? 'border-yellow' : '',
                      task.type == 'Reunión' ? 'border-blue' : '']" 
            (click)="presentModal('showData',[task])"
            *ngFor="let task of view.dates[row*7+col].events.slice(0,2)" 
          >
            <h2 class="task-title">
              {{task.eventType}}
            </h2>
            <p class="task-time">
              {{task.startTime | date:'shortTime'}} - {{task.endTime | date:'shortTime'}}
            </p>
          </div>
          <div class="show-more-container" (click)="presentModal('showData',view.dates[row*7+col].events)">
            <p class="regular-text" *ngIf="view.dates[row*7+col].events.length >= 2">{{((view.dates[row*7+col].events.length)-2)}} más</p>
          </div>
        
       
      </div>
    </div>
    
    
</ng-template>


</div>
