<ion-content>
  <div class="main-container" *ngIf="modalType==='create'" >
    <ion-header>
      <ion-toolbar>
        <ion-title>Agregar evento</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()" [strong]="true">
            <ion-icon name="close-outline"></ion-icon>Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <div class="content-container" >

        <ion-item >
          <ion-label>Tipo de evento</ion-label>
          <ion-select cancelText="Cancelar" okText="Aceptar!" [(ngModel)]="evento.tipo" (ionChange)="cambiarTipo()">
            <ion-select-option value="Audiencia" >Audiencia</ion-select-option>
            <ion-select-option value="Atención" >Atención</ion-select-option>
            <ion-select-option value="Reunión" >Reunión</ion-select-option>
            <ion-select-option value="Trámite" >Trámite</ion-select-option>
            <ion-select-option value="Consulta" >Consulta</ion-select-option>
            <ion-select-option value="Cobertura" >Cobertura</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="evento.causa != [] && evento.tipo == 'Trámite'">
          <ion-label>PERSONAL?</ion-label>
          <ion-checkbox [(ngModel)]="evento.personal"></ion-checkbox>
        </ion-item>

        <ion-item *ngIf="evento.causa != [] && evento.tipo == 'Consulta'">
          <ion-label>Referido</ion-label>
          <ion-input type="text" placeholder="Nombre del referido" [(ngModel)]="evento.referido" required></ion-input>
        </ion-item>

        <ion-item *ngIf="evento.causa != [] && evento.tipo != '' && evento.tipo != 'Consulta' && !evento.personal">
          <ion-label >Seleccione una causa</ion-label>
          <ionic-selectable
            [(ngModel)]="evento.causa"
            [items]="causas"
            itemValueField="_id"
            itemTextField="rolInterno"
            [canSearch]="true"
            [isMultiple]="true"
            [searchFailText]="'No hay causas que cumpla el parametro.'"
            closeButtonText="Cerrar"
            [disabled] = "cargandoCausas"
            (onChange)="causaChange($event)">
          </ionic-selectable>
        </ion-item>

  <!--/// TIPO CONSULTA -->
        <section *ngIf="evento.causa != [] && evento.tipo == 'Consulta'">
          <ion-item >
            <ion-label>Materia</ion-label>
            <ion-input type="text" placeholder="Ingrese la materia" [(ngModel)]="evento.materia" required></ion-input>
          </ion-item>
          <ion-item >
            <ion-label>Teléfono</ion-label>
            <ion-input type="text" placeholder="Ingrese un teléfono" [(ngModel)]="evento.telefono" required></ion-input>
          </ion-item>
          <ion-item >
            <ion-label>Captador</ion-label>
            <ion-input type="text" placeholder="Ingrese un captador" [(ngModel)]="evento.captador" required></ion-input>
          </ion-item>

        </section>

        <section *ngIf="evento.causa != [] && evento.tipo == 'Trámite'">
          <ion-item >
            <ion-label>Lugar</ion-label>
            <ion-input type="text" placeholder="Ingrese el lugar del evento" [(ngModel)]="evento.lugar" required></ion-input>
          </ion-item>
          <ion-item >
            <ion-label>Detalle</ion-label>
            <ion-input type="text" placeholder="Ingrese detalle" [(ngModel)]="evento.detalle" required></ion-input>
          </ion-item>

        </section>

        <section *ngIf="evento.causa != [] && evento.tipo == 'Atención'">
            <ion-item >
              <ion-label>Es un tercero?</ion-label>
              <ion-checkbox [(ngModel)]="evento.tercero"></ion-checkbox>
            </ion-item>
            <ion-item *ngIf="!evento.tercero" [disabled]="isCausaSelected()">
              <ion-label>Cliente de la causa</ion-label>
              <ion-select cancelText="Cancelar" okText="Aceptar" [(ngModel)]="evento.cliente" (ionChange)="seleccionarCliente()">
                <ion-select-option value="{{i}}" *ngFor="let cliente of clientes;index as i">{{cliente.name}}</ion-select-option>
              </ion-select>
            </ion-item>

            <section *ngIf="evento.causa != [] && evento.tercero || evento.cliente ">
                <ion-item >
                  <ion-label>Nombre</ion-label>
                  <ion-input type="text" placeholder="Ingrese un nombre" [disabled]="!evento.tercero" [(ngModel)]="evento.nombreAtencion" required></ion-input>
                </ion-item>
                <ion-item >
                  <ion-label>Teléfono</ion-label>
                  <ion-input type="text" placeholder="Ingrese un teléfono" [disabled]="!evento.tercero" [(ngModel)]="evento.telefonoAtencion" required></ion-input>
                </ion-item>
            </section>

        </section>

        <section *ngIf="evento.causa != [] && evento.tipo == 'Reunión'">
            <ion-item >
              <ion-label>Finalidad</ion-label>
              <ion-input type="text" placeholder="FINALIDAD" [(ngModel)]="evento.finalidad" required></ion-input>
            </ion-item>
        </section>

        <section *ngIf="evento.causa != [] && evento.tipo == 'Audiencia'  " >
            <ion-item >
              <ion-label>Procedimiento</ion-label>
              <ion-input type="text" placeholder="Ingrese un procedimiento"  [(ngModel)]="evento.procedimientoAudiencia" required></ion-input>
            </ion-item>
            <ion-item >
              <ion-label>Teléfono</ion-label>
              <ion-input type="text" placeholder="Ingrese un teléfono"  [(ngModel)]="evento.tribunalAudiencia" required></ion-input>
            </ion-item>
            <ion-item >
              <ion-label>Tipo</ion-label>
              <ion-input type="text" placeholder="Ingrese el tipo"  [(ngModel)]="evento.tipoAudiencia" required></ion-input>
            </ion-item>
            <ion-item >
              <ion-label>Caratulado</ion-label>
              <ion-input type="text" placeholder="Ingrese caratulado"  [(ngModel)]="evento.caratuladoAudiencia"  required></ion-input>
            </ion-item>
            <ion-item >
              <ion-label>Rol/RIT</ion-label>
              <ion-input type="text" placeholder="Ingrese ROL / RIT"  [(ngModel)]="evento.rolAudiencia"  required></ion-input>
            </ion-item>
            <ion-item >
              <ion-label>RUC</ion-label>
              <ion-input type="text" placeholder="Ingrese un RUC"  [(ngModel)]="evento.rucAudiencia" required></ion-input>
            </ion-item>
            <ion-item >
              <ion-label>Hora</ion-label>
              <ion-input type="text" placeholder="Ingrese la Hora"  [(ngModel)]="evento.horaAudiencia"  required></ion-input>
            </ion-item>
            <ion-item >
              <ion-label>Sala</ion-label>
              <ion-input type="text" placeholder="Ingrese Sala"  [(ngModel)]="evento.salaAudiencia"  required></ion-input>
            </ion-item>
        </section>

       
        

        <ion-item>
          <ion-label>Fecha de inicio</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="DD:MM:HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Fecha de término</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="DD MM:HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
        </ion-item>
        <ion-item >
          <ion-label>Observación</ion-label>
          <ion-textarea type="text" placeholder="Observación" [(ngModel)]="evento.observacion"></ion-textarea>
        </ion-item>

        <div class="event-container" style="border-left: 3px solid #2dd36f;">
          <h4 class="event-container-title">Serás notificado </h4>
          <div style="display: flex; flex-direction: row;">
            <ion-item>
              <ion-label position="floating">Dias</ion-label>
              <ion-input type="number"  [(ngModel)]="notificationDays"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Horas</ion-label>
              <ion-input type="number"  [(ngModel)]="notificationHours"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Minutos</ion-label>
              <ion-input type="number"  [(ngModel)]="notificationMinutes"></ion-input>
            </ion-item>
          </div>
          <p class="event-container-description">antes de la fecha de inicio del evento</p>
        </div>

        <div class="event-container " style="border-left: 3px solid #2dd36f;">
          <h4 class="event-container-title">Notificar a tu equipo</h4>
          <ion-item>
           <ion-label>Seleccionar usuarios</ion-label>
           <ionic-selectable
             [(ngModel)]="selectedUsers"
             [items]="users"
             itemValueField="id"
             itemTextField="fullName"
             [canSearch]="true"
             [isMultiple]="true"
             [searchFailText]="'No hay usuarios que cumplan el parametro.'"
             closeButtonText="Cerrar"
             [disabled] = "CargandoUsuarios"
             (onChange)="userChange($event)">
           </ionic-selectable>
         </ion-item>
        </div>
        
        


        <div class="button-container">
          <button class="regular-button" (click)="addEvent()" >Confirmar</button>
        </div>
      

    </div>

   
  </div>
  
  <div class="main-container"  *ngIf="modalType==='showData'">
    <ion-header>
      <ion-toolbar>
        <ion-title></ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()" [strong]="true">
            <ion-icon name="close-outline"></ion-icon>Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <div>
      <div class="event-list" *ngFor="let event of modalData">
        
        <div class="event-container" *ngIf="event.eventData.tipo==='Audiencia'">
          <h4 class="event-container-title">Audiencia</h4>
          <div class="event-data-grid" >
            <ion-item lines="none">
              <ion-label position="stacked">Fecha inicio</ion-label>
              <ion-input disabled="true">{{ event.startTime | date }}</ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Fecha termino</ion-label>
              <ion-input disabled="true">{{ event.endTime | date }}</ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label  position="stacked">Procedimiento</ion-label>
              <ion-input disabled="true">{{ event.eventData.procedimientoAudiencia}}</ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Tribunal</ion-label>
              <ion-input disabled="true">{{ event.eventData.tribunalAudiencia}}</ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Tipo de audencia</ion-label>
              <ion-input disabled="true">{{ event.eventData.tipoAudiencia}}</ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Caratulado</ion-label>
              <ion-input disabled="true">{{ event.eventData.caratuladoAudiencia}}</ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Rol/RIT</ion-label>
              <ion-input disabled="true">{{ event.eventData.rolAudiencia}}</ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">RUC</ion-label>
              <ion-input disabled="true">{{ event.eventData.rucAudiencia}}</ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Hora de audencia</ion-label>
              <ion-input disabled="true">{{ event.eventData.horaAudiencia}}</ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Sala </ion-label>
              <ion-input disabled="true">{{ event.eventData.salaAudiencia}}</ion-input>
            </ion-item>
       
          </div>
        </div>
        
        <div class="event-container" *ngIf="event.eventData.tipo==='Reunión'" >
          <h4 class="event-container-title">Reunión</h4>
          <div class="event-data-grid">
            <ion-item lines="none">
              <ion-label position="stacked">Fecha inicio</ion-label>
              <ion-input disabled="true">{{ event.startTime | date }}</ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Fecha termino</ion-label>
              <ion-input disabled="true">{{ event.endTime | date }}</ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Finalidad</ion-label>
              <ion-input disabled="true">{{ event.eventData.finalidad}}</ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Observación</ion-label>
              <ion-input disabled="true">{{ event.eventData.observacion}}</ion-input>
            </ion-item>
          </div>
        </div>

        <div class="event-container" *ngIf="event.eventData.tipo==='Trámite'" >
          <h4 class="event-container-title">Trámite</h4>
          <div class="event-data-grid">
            <ion-item lines="none">
              <ion-label position="stacked">Fecha inicio</ion-label>
              <ion-input disabled="true">{{ event.startTime | date }}</ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Fecha termino</ion-label>
              <ion-input disabled="true">{{ event.endTime | date }}</ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Lugar</ion-label>
              <ion-input disabled="true">{{ event.eventData.lugar}}</ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Detalle</ion-label>
              <ion-input disabled="true">{{ event.eventData.detale}}</ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Observación</ion-label>
              <ion-input disabled="true">{{ event.eventData.observacion}}</ion-input>
            </ion-item>
          </div>
        </div>

        <div class="event-container" *ngIf="event.eventData.tipo==='Atención'" >
          <h4 class="event-container-title">Atención</h4>
          <div class="event-data-grid">
            <ion-item lines="none">
              <ion-label position="stacked">Fecha inicio</ion-label>
              <ion-input disabled="true">{{ event.startTime | date }}</ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Fecha termino</ion-label>
              <ion-input disabled="true">{{ event.endTime | date }}</ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Nombre Atención</ion-label>
              <ion-input disabled="true">{{ event.eventData.nombreAtencion}}</ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Telefóno</ion-label>
              <ion-input disabled="true">{{ event.eventData.telefonoAtencion}}</ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Observación</ion-label>
              <ion-input disabled="true">{{ event.eventData.observacion}}</ion-input>
            </ion-item>
          </div>
        </div>

        <div class="event-container" *ngIf="event.eventData.tipo==='Consulta'" >
          <h4 class="event-container-title">Consulta</h4>
          <div class="event-data-grid">
            <ion-item lines="none">
              <ion-label position="stacked">Fecha inicio</ion-label>
              <ion-input disabled="true">{{ event.startTime | date }}</ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Fecha termino</ion-label>
              <ion-input disabled="true">{{ event.endTime | date }}</ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Materia</ion-label>
              <ion-input disabled="true">{{ event.eventData.materia}}</ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Telefóno</ion-label>
              <ion-input disabled="true">{{ event.eventData.telefono}}</ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Referido</ion-label>
              <ion-input disabled="true">{{ event.eventData.referido}}</ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Captador</ion-label>
              <ion-input disabled="true">{{ event.eventData.captador}}</ion-input>
            </ion-item>
          
          </div>
        </div>
        

    
      </div>
    </div>
  
  </div>


  
</ion-content>
