<ion-content>
  <div class="main-container" >
    <ion-header>
      <ion-toolbar>
        <ion-title>Agregar evento</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()" [strong]="true">
            <ion-icon name="close-outline"></ion-icon>Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <div class="content-container">

        <ion-item >
          <ion-label>Tipo de evento</ion-label>
          <ion-select cancelText="Cancelar" okText="Aceptar!" [(ngModel)]="evento.tipo" (ionChange)="cambiarTipo()">
            <ion-select-option value="Audiencia" >Audiencia</ion-select-option>
            <ion-select-option value="Atención" >Atención</ion-select-option>
            <ion-select-option value="Reunión" >Reunión</ion-select-option>
            <ion-select-option value="Trámite" >Trámite</ion-select-option>
            <ion-select-option value="Consulta" >Consulta</ion-select-option>
            <ion-select-option value="Cobertura" >Cobertura</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="evento.causa != [] && evento.tipo == 'Trámite'">
          <ion-label>PERSONAL?</ion-label>
          <ion-checkbox [(ngModel)]="evento.personal"></ion-checkbox>
        </ion-item>

        <ion-item *ngIf="evento.causa != [] && evento.tipo == 'Consulta'">
          <ion-label>Referido</ion-label>
          <ion-input type="text" placeholder="Nombre del referido" [(ngModel)]="evento.referido" required></ion-input>
        </ion-item>

        <ion-item *ngIf="evento.causa != [] && evento.tipo != '' && evento.tipo != 'Consulta' && !evento.personal">
          <ion-label >Seleccione una causa</ion-label>
          <ionic-selectable
            [(ngModel)]="evento.causa"
            [items]="causas"
            itemValueField="_id"
            itemTextField="rolInterno"
            [canSearch]="true"
            [isMultiple]="true"
            [searchFailText]="'No hay causas que cumpla el parametro.'"
            closeButtonText="Cerrar"
            [disabled] = "cargandoCausas"
            (onChange)="causaChange($event)">
          </ionic-selectable>
        </ion-item>

  <!--/// TIPO CONSULTA -->
        <section *ngIf="evento.causa != [] && evento.tipo == 'Consulta'">
          <ion-item >
            <ion-label>Materia</ion-label>
            <ion-input type="text" placeholder="Ingrese la materia" [(ngModel)]="evento.materia" required></ion-input>
          </ion-item>
          <ion-item >
            <ion-label>Teléfono</ion-label>
            <ion-input type="text" placeholder="Ingrese un teléfono" [(ngModel)]="evento.telefono" required></ion-input>
          </ion-item>
          <ion-item >
            <ion-label>Captador</ion-label>
            <ion-input type="text" placeholder="Ingrese un captador" [(ngModel)]="evento.captador" required></ion-input>
          </ion-item>

        </section>

        <section *ngIf="evento.causa != [] && evento.tipo == 'Trámite'">
          <ion-item >
            <ion-label>Lugar</ion-label>
            <ion-input type="text" placeholder="Ingrese el lugar del evento" [(ngModel)]="evento.lugar" required></ion-input>
          </ion-item>
          <ion-item >
            <ion-label>Detalle</ion-label>
            <ion-input type="text" placeholder="Ingrese detalle" [(ngModel)]="evento.detalle" required></ion-input>
          </ion-item>

        </section>

        <section *ngIf="evento.causa != [] && evento.tipo == 'Atención'">
          <ion-item >
            <ion-label>Tercero?</ion-label>
            <ion-checkbox [(ngModel)]="evento.tercero"></ion-checkbox>
          </ion-item>
          <ion-item *ngIf="!evento.tercero">
            <ion-select cancelText="Cancelar" okText="Aceptar!" [(ngModel)]="evento.cliente" (ionChange)="seleccionarCliente()">
              <ion-select-option value="{{i}}" *ngFor="let cliente of clientes;index as i">{{cliente.name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <section *ngIf="evento.causa != [] && evento.tercero || evento.cliente ">
            <ion-item >
              <ion-label>Nombre</ion-label>
              <ion-input type="text" placeholder="Ingrese un nombre" [disabled]="!evento.tercero" [(ngModel)]="evento.nombreAtencion" required></ion-input>
            </ion-item>
            <ion-item >
              <ion-label>Teléfono</ion-label>
              <ion-input type="text" placeholder="Ingrese un teléfono" [disabled]="!evento.tercero" [(ngModel)]="evento.telefonoAtencion" required></ion-input>
            </ion-item>
          </section>

        </section>

        <section *ngIf="evento.causa != [] && evento.tipo == 'Reunión'">
          <ion-item >
            <ion-label>Finalidad</ion-label>
            <ion-input type="text" placeholder="FINALIDAD" [(ngModel)]="evento.finalidad" required></ion-input>
          </ion-item>
        </section>

        <section *ngIf="evento.causa != [] && evento.tipo == 'Audiencia'  " >
          <ion-item >
            <ion-label>Procedimiento</ion-label>
            <ion-input type="text" placeholder="Ingrese un procedimiento"  [(ngModel)]="evento.procedimientoAudiencia" required></ion-input>
          </ion-item>
          <ion-item >
            <ion-label>Teléfono</ion-label>
            <ion-input type="text" placeholder="Ingrese un teléfono"  [(ngModel)]="evento.tribunalAudiencia" required></ion-input>
          </ion-item>
          <ion-item >
            <ion-label>Tipo</ion-label>
            <ion-input type="text" placeholder="Ingrese el tipo"  [(ngModel)]="evento.tipoAudiencia" required></ion-input>
          </ion-item>
          <ion-item >
            <ion-label>Caratulado</ion-label>
            <ion-input type="text" placeholder="Ingrese caratulado"  [(ngModel)]="evento.caratuladoAudiencia"  required></ion-input>
          </ion-item>
          <ion-item >
            <ion-label>Rol/RIT</ion-label>
            <ion-input type="text" placeholder="Ingrese ROL / RIT"  [(ngModel)]="evento.rolAudiencia"  required></ion-input>
          </ion-item>
          <ion-item >
            <ion-label>RUC</ion-label>
            <ion-input type="text" placeholder="Ingrese un RUC"  [(ngModel)]="evento.rucAudiencia" required></ion-input>
          </ion-item>
          <ion-item >
            <ion-label>Hora</ion-label>
            <ion-input type="text" placeholder="Ingrese la Hora"  [(ngModel)]="evento.horaAudiencia"  required></ion-input>
          </ion-item>
          <ion-item >
            <ion-label>Sala</ion-label>
            <ion-input type="text" placeholder="Ingrese Sala"  [(ngModel)]="evento.salaAudiencia"  required></ion-input>
          </ion-item>
        </section>
        <ion-item>
          <ion-label>Fecha de inicio</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="D MM:HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Fecha de término</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="D MM:HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
        </ion-item>
        <ion-item >
          <ion-label>Observación</ion-label>
          <ion-textarea type="text" placeholder="Observación" [(ngModel)]="evento.observacion"></ion-textarea>
        </ion-item>

        <div class="button-container">
          <button class="regular-button" (click)="addEvent()" >Confirmar</button>
        </div>
      

    </div>

  </div>
</ion-content>